{{#if user}}
<div class="container">
</div>
{{else}}
    <!-- starts footer -->
    <footer id="footer">
        <div class="container">
            <div class="row sections">
                <div class="span4 recent_posts">
                    <h3 class="footer_header">
                        Recent Posts
                    </h3>
                    <div class="post">
                        <a href="http://cleancanvas.herokuapp.com/blogpost.html">
                            <img src="/img/recent_post1.png" class="img-circle">
                        </a>
                        <div class="date">
                            Wed, 12 Dec
                        </div>
                        <a href="http://cleancanvas.herokuapp.com/blogpost.html" class="title">
                            Randomised words which don't look embarrasing hidden.
                        </a>
                    </div>
                    <div class="post">
                        <a href="http://cleancanvas.herokuapp.com/blogpost.html">
                            <img src="/img/recent_post2.png" class="img-circle">
                        </a>
                        <div class="date">
                            Mon, 12 Dec
                        </div>
                        <a href="http://cleancanvas.herokuapp.com/blogpost.html" class="title">
                            Randomised words which don't look embarrasing hidden.
                        </a>
                    </div>
                </div>
                <div class="span4 testimonials">
                    <h3 class="footer_header">
                        Testimonials
                    </h3>
                    <div class="wrapper">
                        <div class="quote">
                            <span>“</span>
                            <br>
                            This service is incredible that even an airhead like me can use it. It made developing an app so much easier, thanks you APISAUR.
                            <span style="float:right;">”</span>
                        </div>
                        <div class="author">
                            <img src="/img/user-display.png">
                            <div class="name">Alejandra Galvan Castillo</div>
                            <div class="info">
                                Details Canvas
                            </div>
                        </div>
                    </div>
                </div>
                <div id="contact" class="span4 contact">
                    <h3 class="footer_header">
                        Contact
                    </h3>
                    <form action="mailto:info@apisaur.com?subject=Feedback" method="post" enctype="text/plain" _lpchecked="1">
                        <input type="text" name="name" value="" maxlength="100" placeholder="Your name">
                        <input type="text" rows="5" cols="20" name="email" placeholder="Your email">
                        <textarea rows="3" cols="20" name="comment" placeholder="Comment"></textarea>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div class="row credits">
                <div class="span12">
                    <div class="row social">
                        <div class="span12">
                            <a href="http://cleancanvas.herokuapp.com/#" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="http://cleancanvas.herokuapp.com/#" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="http://cleancanvas.herokuapp.com/#" class="gplus">
                                <span class="socialicons ico3"></span>
                                <span class="socialicons_h ico3h"></span>
                            </a>
                            <a href="http://cleancanvas.herokuapp.com/#" class="flickr">
                                <span class="socialicons ico4"></span>
                                <span class="socialicons_h ico4h"></span>
                            </a>
                            <a href="http://cleancanvas.herokuapp.com/#" class="pinterest">
                                <span class="socialicons ico5"></span>
                                <span class="socialicons_h ico5h"></span>
                            </a>
                            <a href="http://cleancanvas.herokuapp.com/#" class="dribble">
                                <span class="socialicons ico6"></span>
                                <span class="socialicons_h ico6h"></span>
                            </a>
                            <a href="http://cleancanvas.herokuapp.com/#" class="behance">
                                <span class="socialicons ico7"></span>
                                <span class="socialicons_h ico7h"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="span12">
                            © 2013 APISAUR Inc. All rights reserved.
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </footer>
{{/if}}
