{{#if user}}
<div class="navbar transparent navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">
          <div>
            <img src="/img/logo.png" class="logo shadowfilter">
          </div>
        </a>
        <div class="nav-collapse collapse">
            <ul class="nav pull-right">
                <li><a href="/" class="active">HOME</a></li>
                <li><a href="#features">FEATURES</a></li>
                <li><a href="#in_pricing">PRICING</a></li>
                <li><a href="#team">TEAM</a></li>
                <li><a href="#contact">CONTACT</a></li>
                <li><a href="/dashboard">GO TO DASHBOARD</a></li>
            </ul>
        </div>
    </div>
  </div>
</div>
{{else}}
<div class="navbar transparent navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">
          <div>
            <img src="/img/logo.png" class="logo shadowfilter">
          </div>
        </a>
        <div class="nav-collapse collapse">
            <ul class="nav pull-right">
                <li><a href="/" class="active">HOME</a></li>
                <li><a href="#features">FEATURES</a></li>
                <li><a href="#in_pricing">PRICING</a></li>
                <li><a href="#team">TEAM</a></li>
                <li><a href="#contact">CONTACT</a></li>
                <li><a href="/login" type="button" data-toggle="modal">LOGIN</a></li>
            </ul>
        </div>
    </div>
  </div>
</div>
{{/if}}
