/** JSPLUMB ARTEFACTS **/
._jsPlumb_connector {
    z-index:1;
}

/** COMMON ELEMENT PROPERTIES **/
.shape {
    z-index:2;
    opacity:0.9;
    position:absolute;
    cursor:pointer;
    text-align:center;
    font-size:80%;
    color:#ffffff;
}

.parent {
    background-image:url(../../img/data-parent.png);
}

.leaf {
    background-image:url(../../img/data-element.png);
}

#transform-area {
    width: 100%;
    height: 450px;
}

#scrollable-canvas {
    float: right;
    width: 100%;
    height: 100%;
    background: url('../../img/canvas_bkg.png');
    overflow: auto;
}

#tool-pane {
    float: left;
    width: 49.5%;
    height: 100%;
    /*background: url('../../img/canvas_bkg.png');*/
    overflow: auto;
    text-align: left;
}

#result-pane {
    float: right;
    width: 49.5%;
    height: 100%;
    /*background: url('../../img/canvas_bkg.png');*/
    overflow: auto;
    text-align: left;
}

.icon
{
position:absolute;
left:5px;
top:4px;
z-index:-1;
}

/** SHAPES **/

[data-shape=Rectangle] {
    width:140px;
    height:32px;
    line-height: 32px;
    /*background-image:url(../../img/data-element.png);*/
}

.splitter {
    height-x: 400px;
    height-x: 50%;
    height: calc(100% - 180px);
    height: -moz-calc(100% - 180px);
    height: -webkit-calc(100% - 180px);
    border: 1px solid #CACACA;
    background: #f8fff8;
    boo: 45px;
}

.ui-state-default { background-color: #CACACA }
.ui-state-hover { background-color: #bdb }
.ui-state-highlight { background-color: #add }
.ui-state-error { background-color: #eaa }

.splitter-pane {
    overflow: auto;
}
.splitter-bar-vertical {
    width: 6px;
    height-x: 100%;
    background-image: url(../../img/vgrabber.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.splitter-bar-vertical-docked {
    width: 10px;
    background-image: url(../../img/vdockbar-trans.gif);
    background-repeat: no-repeat;
    background-position: center;
}
.splitter-bar.ui-state-highlight {
    opacity: 0.7;
}
.splitter-iframe-hide {
    visibility: hidden;
}