{{#if user}}
<div class="container">
</div>
{{else}}
<div class="container">
	<div class="row-fluid">
		<hr>
		<div class="pull-left">
			<ul class="nav nav-pills">
			  <li><a href="/about">About</a></li>
			  <li><a href="/blog">Blog</a></li>
			  <li><a href="/help">Help</a></li>
			  <li><a href="/contact">Contact</a></li>
			  <li><a href="/careers">Careers</a></li>
			  <li><a href="/advertise">Advertise</a></li>
			</ul>
		</div>
		<div class="disclaimer pull-right">
			© 2013 APISAUR
		</div>
		<br>
		<br>
	</div>
</div>
{{/if}}