{{#if user}}
<div id="nav">
  <div id="header">
    <h1><a href="#">APISAUR</a></h1>  
    <a id="menu-trigger" href="#"><i class="icon-align-justify"></i></a> 
  </div>

  <div id="search">
    <input type="text" placeholder="Search here..."><button type="submit" class="tip-right" title="" data-original-title="Search"><i class="icon-search"></i></button>
  </div>

  <div id="user-nav">
      <ul class="btn-group">
          <li class="btn"><a title="" href="/account"><i class="icon-user"></i> <span class="text">{{user.name.full}}'s Profile</span></a></li>
          <li class="btn dropdown" id="menu-messages"><a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon-envelope"></i> <span class="text">Messages</span> <span class="label label-danger">5</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a class="sAdd" title="" href="#">new message</a></li>
                  <li><a class="sInbox" title="" href="#">inbox</a></li>
                  <li><a class="sOutbox" title="" href="#">outbox</a></li>
                  <li><a class="sTrash" title="" href="#">trash</a></li>
              </ul>
          </li>
          <li class="btn"><a title="" href="#"><i class="icon-cog"></i> <span class="text">Settings</span></a></li>
          <li class="btn"><a title="" href="/logout"><i class="icon-share-alt"></i> <span class="text">Logout</span></a></li>
      </ul>
  </div>
</div>
{{else}}
<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/login">Sign In</a></li>
  </ul>
  <a href="/"><img src="/img/logo.png" style="width: 40%; height: 40%;"></a>
</div>
{{/if}}