    <div id="features">
    <br>
    <br>
    <br>
    <br>
        <div class="container">         
            <div class="row feature_wrapper">
                <!-- Features Row -->
                <div class="features_op1_row">
                    <!-- Feature -->
                    <div class="span4 feature first">
                        <div class="img_box">
                            <a href="#">
                                <img src="./img/service1.png">
                                <span class="circle"> 
                                    <span class="plus">+</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h4>Easily manage API data with objects</h4>
                            <p>
                                Our intuitive dashboard allows you to easily select the APIs, pull the data you need and organize it.
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span4 feature">
                        <div class="img_box">
                            <a href="#">
                                <img src="./img/service2.png">
                                <span class="circle"> 
                                    <span class="plus">+</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h4>Transform, restructure and combine objects</h4>
                            <p>
                                The power comes in being able to perform computation in the cloud rather then on client-side. Significantly boost your productivity by letting us to the heavy lifting.
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span4 feature last">
                        <div class="img_box">
                            <a href="#">
                                <img src="./img/service3.png">
                                <span class="circle"> 
                                    <span class="plus">+</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h4>Create endpoints to serve your creations</h4>
                            <p>
                                After your data transformed, you can serve it by creating endpoints on our server. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pricing Option -->
    <div id="in_pricing">
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="section_header">
                <h3>Pricing</h3>
            </div>

            <div class="row charts_wrapp">
                <!-- Plan Box -->
                <div class="span4">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Lite</h3>
                            <div class="price">
                                <span class="dollar">Free</span> 
                            </div>
                            <div class="features">
                                <p>
                                    Unlimited usage (max 5 APIs)
                                </p>
                                <p>
                                    Limited usage after 3 months
                                </p>
                            </div>
                            <a class="order" href="#">REGISTER</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="span4 pro">
                    <div class="plan">
                        <div class="wrapper">
                            <img class="ribbon" src="./img/badge.png">
                            <h3>Pro</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">10</span> 
                                <span class="month">/ month</span>
                            </div>
                            <div class="features">
                                <p>
                                    Unlimited usage for a month
                                </p>
                            </div>
                            <a class="order" href="#">REGISTER</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="span4 standar">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Standard</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">100</span> 
                                <span class="month">/ year</span>
                            </div>
                            <div class="features">
                                <p>
                                    Unlimited usage for a year
                                </p>
                            </div>
                            <a class="order" href="#">REGISTER</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="start">
                <p>Start your free, no-risk, 90 day trial! </p>
                <br><br>
                <a href="#">Start Now!</a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/scripts/theme.js"></script>
    <script type="text/javascript" src="/scripts/index-slider.js"></script>
