<div id="content-header">
<h1>Dashboard</h1>
<div class="btn-group">
  <a class="btn"><i class="icon-file"></i></a>
  <a class="btn" title="Manage Users"><i class="icon-user"></i></a>
  <a class="btn"><i class="icon-comment"></i><span class="label label-danger">5</span></a>
  <a class="btn"><i class="icon-shopping-cart"></i></a>
</div>
</div>
<div id="breadcrumb">
<a href="/" title="" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> Home</a>
<a href="/dashboard" class="current">Dashboard</a>
</div>
<div class="container-fluid">
<div id="main"></div>
</div>

<script>
	var layout = 'dashboard';
</script>
<!-- build:js js/main.js -->
<script data-main="js/main" src="components/requirejs/require.js"></script>
<!-- endbuild -->