

<link rel="stylesheet" href="css/jsPlumb/jsplumb-all.css">
<link rel="stylesheet" href="css/jsPlumb/jsplumb.css">
<link rel="stylesheet" type="text/css" href="components/jquery.dd/css/msdropdown/dd.css" />
<link rel="stylesheet" type="text/css" href="components/jquery.dd/css/msdropdown/sprite.css" />


<div id="content-header">
<h1>Transform</h1>
<div class="btn-group">
  <a class="btn"><i class="icon-file"></i></a>
  <a class="btn" title="Manage Users"><i class="icon-user"></i></a>
  <a class="btn"><i class="icon-comment"></i><span class="label label-danger">5</span></a>
  <a class="btn"><i class="icon-shopping-cart"></i></a>
</div>
</div>
<div id="breadcrumb">
<a href="/" title="" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> Home</a>
<a href="/transform" class="current">Transform</a>
</div>
<div class="container-fluid">
<div id="main">
	<div id="render">
	</div>
</div>
</div>		
<!--	<script src="scripts/jsPlumb/jsonVisualize.js"></script>	-->
<script>
	var layout = 'transform';
</script>
<!-- build:js js/main.js -->
<script data-main="js/main" src="components/requirejs/require.js"></script>
<!-- endbuild -->
