/** JSPLUMB ARTEFACTS **/
._jsPlumb_connector {
    z-index:1;
}

/** COMMON ELEMENT PROPERTIES **/
.shape {
    z-index:2;
    opacity:0.9;
    position:absolute;
    cursor:pointer;
    text-align:center;
    font-size:80%;
    color:#ffffff;
}

.parent {
    background-image:url(../../img/data-parent.png);
}

.leaf {
    background-image:url(../../img/data-element.png);
}

#scrollable-canvas {
    float: right;
    width: 85%;
    height: 100%;
    background: url('../../img/canvas_bkg.png');
    overflow: auto;
}

#tool-pane {
    float: left;
    width: 15%;
    height: 100%;
    /*background: url('../../img/canvas_bkg.png');*/
    overflow: auto;
    text-align: left;
}

.icon
{
position:absolute;
left:5px;
top:4px;
z-index:-1;
}

/** SHAPES **/

[data-shape=Rectangle] {
    width:140px;
    height:32px;
    line-height: 32px;
    /*background-image:url(../../img/data-element.png);*/
}

[