/*
 * client/scss/main.scss
 */

@import 'compass';

@import 'bootstrap/variables';
@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';

@import 'fontawesome/fontawesome';

body {
  padding-top: 0px !importantc;
}

#leftside {
  margin: 60px auto 30px;
  float: left;
  width: 15%;
}

#list {
  float: left;
  width: 85%;
}

.leftside-filter {
  width: 14%;
}

#content {
  .hero-unit {
    margin: 0 auto;
    padding: 20px 40px;
    width: 250px;
    border-radius: 30px;
  }
}

.add-btn {
  padding-left:5px !important; 
  vertical-align: top !important;
}

.remove-btn {
  margin-left:5px !important; 
  vertical-align: top !important;
}

.navbar-inverse .navbar-search .search-query{
  width: 100%;
}

#map-canvas, #map_canvas {
  height: 300px;
}

#panel {
  position: absolute;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  left: 50px;
  input{
    margin: 0px;
  }
  label {
    display: inline;
  }
}

.submit-btn {
  background-image: linear-gradient(#00CCFF, #00E0FF 5%, #00B8FF) !important;
  font-size: 25px !important;
  padding: 10px !important;
}


.navbar .logo {
	height: 40px;
	display: block;
	float: left;
	padding: 5px;
}

.rank{
  display: inline-block;
  float: left;
  height: 36px;
  width: auto;
  padding-right: 5px;
}

.rank button{
  display: inline-block;
  float: left;
  height: 32px;
  width: auto;
  margin: 2px;
}

.emoticon{
  display: inline-block;
  float: right;
}

.emoticon img{
  height: 32px;
  width: 32px;
  margin: 2px;
}

.accordion-group .accordion-inner {
  color: #555555;
  text-decoration: none;
  background-color: #F2F6FF;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.accordion-group hr {
  margin: 10px 0px;
  background-color: black;
  height: 1px;
}

.disclaimer {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 2px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

