    <section id="feature_slider" class="disabled">
        <!-- 
            Each slide is composed by <img> and .info
            - .info's position is customized with css in index.css
            - each <img> parallax effect is declared by the following params inside its class:
            
            example: class="asset left-472 sp600 t120 z3"
            left-472 means left: -472px from the center
            sp600 is speed transition
            t120 is top to 120px
            z3 is z-index to 3
            Note: Maintain this order of params

            For the backgrounds, you can combine from the bgs folder :D
        -->
        <article class="slide" id="sharepoint" style="background-image: url(/img/blue.jpg); display: none; background-position: 50% 0%; background-repeat: repeat no-repeat;">
            <img class="asset left-30 sp600 t120 z1" src="./img/objects.png" style="left: -724px; top: 120px; z-index: 1; display: inline;">
            <div class="info" style="display: none;">
                <h2>Easily manage API data using our platform</h2>
            </div>
        </article>
        <article class="slide" id="sccm" style="background-image: url(/img/aqua.jpg); display: none; background-position: 50% 0%; background-repeat: repeat no-repeat;">
            <img class="asset left-30 sp600 t120 z1" src="./img/transform.png" style="left: -724px; top: 120px; z-index: 1; display: inline;">
            <div class="info" style="display: none;">
                <h2>Transform, restructure and combine data objects</h2>
            </div>
        </article>
        <article class="slide" id="migration" style="background-image: url(/img/office.jpg); display: none; background-position: 50% 0%; background-repeat: repeat no-repeat;">
            <img class="asset left-30 sp600 t120 z1" src="./img/serve.png" style="left: -724px; top: 120px; z-index: 1; display: inline;">
            <div class="info" style="display: none;">
                <h2>Create endpoints to serve your objects</h2>
            </div>
        </article>
    </section>

    <div id="features">
    <br>
    <br>
    <br>
    <br>
        <div class="container">         
            <div class="row feature_wrapper">
                <!-- Features Row -->
                <div class="features_op1_row">
                    <!-- Feature -->
                    <div class="span4 feature first">
                        <div class="img_box">
                            <a href="#">
                                <img src="./img/service1.png">
                                <span class="circle"> 
                                    <span class="plus">+</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h4>Easily manage API data with objects</h4>
                            <p>
                                Our intuitive dashboard allows you to easily select the APIs, pull the data you need and organize it.
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span4 feature">
                        <div class="img_box">
                            <a href="#">
                                <img src="./img/service2.png">
                                <span class="circle"> 
                                    <span class="plus">+</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h4>Transform, restructure and combine objects</h4>
                            <p>
                                The power comes in being able to perform computation in the cloud rather then on client-side. Significantly boost your productivity by letting us to the heavy lifting.
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span4 feature last">
                        <div class="img_box">
                            <a href="#">
                                <img src="./img/service3.png">
                                <span class="circle"> 
                                    <span class="plus">+</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h4>Create endpoints to serve your creations</h4>
                            <p>
                                After your data transformed, you can serve it by creating endpoints on our server. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pricing Option -->
    <div id="in_pricing">
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="section_header">
                <h3>Pricing</h3>
            </div>

            <div class="row charts_wrapp">
                <!-- Plan Box -->
                <div class="span4">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Lite</h3>
                            <div class="price">
                                <span class="dollar">Free</span> 
                            </div>
                            <div class="features">
                                <p>
                                    Unlimited usage (max 5 APIs)
                                </p>
                                <p>
                                    Limited usage after 3 months
                                </p>
                            </div>
                            <a class="order" href="#">REGISTER</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="span4 pro">
                    <div class="plan">
                        <div class="wrapper">
                            <img class="ribbon" src="./img/badge.png">
                            <h3>Pro</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">10</span> 
                                <span class="month">/ month</span>
                            </div>
                            <div class="features">
                                <p>
                                    Unlimited usage for a month
                                </p>
                            </div>
                            <a class="order" href="#">REGISTER</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="span4 standar">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Standard</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">100</span> 
                                <span class="month">/ year</span>
                            </div>
                            <div class="features">
                                <p>
                                    Unlimited usage for a year
                                </p>
                            </div>
                            <a class="order" href="#">REGISTER</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="start">
                <p>Start your free, no-risk, 90 day trial! </p>
                <br><br>
                <a href="#">Start Now!</a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/scripts/theme.js"></script>
    <script type="text/javascript" src="/scripts/index-slider.js"></script>
