<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 center" style="text-align: center;">					
			<ul class="stat-boxes">
				<li class="popover-visits" data-original-title="" title="">
					<div class="left sparkline_bar_good"><span><canvas width="5" height="24" style="display: inline-block; width: 5px; height: 24px; vertical-align: top;"></canvas></span>+10%</div>
					<div class="right">
						<strong>36094</strong>
						Visits
					</div>
				</li>
				<li class="popover-users" data-original-title="" title="">
					<div class="left sparkline_bar_neutral"><span><canvas width="5" height="24" style="display: inline-block; width: 5px; height: 24px; vertical-align: top;"></canvas></span>0%</div>
					<div class="right">
						<strong>1433</strong>
						Users
					</div>
				</li>
				<li class="popover-orders" data-original-title="" title="">
					<div class="left sparkline_bar_bad"><span><canvas width="5" height="24" style="display: inline-block; width: 5px; height: 24px; vertical-align: top;"></canvas></span>-50%</div>
					<div class="right">
						<strong>8650</strong>
						Orders
					</div>
				</li>
				<li class="popover-tickets" data-original-title="" title="">
					<div class="left sparkline_line_good"><span><canvas width="50" height="24" style="display: inline-block; width: 50px; height: 24px; vertical-align: top;"></canvas></span>+70%</div>
					<div class="right">
						<strong>2968</strong>
						Tickets
					</div>
				</li>
			</ul>
		</div>	
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="alert alert-info">
				Welcome in the <strong>Unicorn Admin Theme</strong>. Don't forget to check all the pages!
				<a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" data-dismiss="alert" class="close">×</a>
			</div>
			<div class="widget-box">
				<div class="widget-title"><span class="icon"><i class="icon-signal"></i></span><h5>Site Statistics</h5><div class="buttons"><a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn"><i class="icon-refresh"></i> <span class="text">Update stats</span></a></div></div>
				<div class="widget-content">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<ul class="site-stats">
								<li><div class="cc"><i class="icon-user"></i> <strong>1433</strong> <small>Total Users</small></div></li>
								<li><div class="cc"><i class="icon-arrow-right"></i> <strong>16</strong> <small>New Users (last week)</small></div></li>
								<li class="divider"></li>
								<li><div class="cc"><i class="icon-shopping-cart"></i> <strong>259</strong> <small>Total Shop Items</small></div></li>
								<li><div class="cc"><i class="icon-tag"></i> <strong>8650</strong> <small>Total Orders</small></div></li>
								<li><div class="cc"><i class="icon-repeat"></i> <strong>29</strong> <small>Pending Orders</small></div></li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-8">
							<div class="chart" style="padding: 0px; position: relative;"><canvas class="base" width="751" height="300"></canvas><canvas class="overlay" width="751" height="300" style="position: absolute; left: 0px; top: 0px;"></canvas><div class="tickLabels" style="font-size:smaller"><div class="xAxis x1Axis" style="color:#AAAAAA"><div class="tickLabel" style="position:absolute;text-align:center;left:-18px;top:283px;width:93px">0</div><div class="tickLabel" style="position:absolute;text-align:center;left:88px;top:283px;width:93px">2</div><div class="tickLabel" style="position:absolute;text-align:center;left:195px;top:283px;width:93px">4</div><div class="tickLabel" style="position:absolute;text-align:center;left:301px;top:283px;width:93px">6</div><div class="tickLabel" style="position:absolute;text-align:center;left:408px;top:283px;width:93px">8</div><div class="tickLabel" style="position:absolute;text-align:center;left:514px;top:283px;width:93px">10</div><div class="tickLabel" style="position:absolute;text-align:center;left:621px;top:283px;width:93px">12</div></div><div class="yAxis y1Axis" style="color:#AAAAAA"><div class="tickLabel" style="position:absolute;text-align:right;top:260px;right:729px;width:22px">-1.5</div><div class="tickLabel" style="position:absolute;text-align:right;top:217px;right:729px;width:22px">-1.0</div><div class="tickLabel" style="position:absolute;text-align:right;top:175px;right:729px;width:22px">-0.5</div><div class="tickLabel" style="position:absolute;text-align:right;top:132px;right:729px;width:22px">0.0</div><div class="tickLabel" style="position:absolute;text-align:right;top:89px;right:729px;width:22px">0.5</div><div class="tickLabel" style="position:absolute;text-align:right;top:47px;right:729px;width:22px">1.0</div><div class="tickLabel" style="position:absolute;text-align:right;top:4px;right:729px;width:22px">1.5</div></div></div><div class="legend"><div style="position: absolute; width: 49px; height: 38px; top: 9px; right: 9px; background-color: rgb(255, 255, 255); opacity: 0.5;"> </div><table style="position:absolute;top:9px;right:9px;;font-size:smaller;color:#AAAAAA"><tbody><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid #4fabd2;overflow:hidden"></div></div></td><td class="legendLabel">sin(x)</td></tr><tr><td class="legendColorBox"><div style="border:1px solid #ccc;padding:1px"><div style="width:4px;height:0;border:5px solid #459D1C;overflow:hidden"></div></div></td><td class="legendLabel">cos(x)</td></tr></tbody></table></div></div>
						</div>	
					</div>							
				</div>
			</div>					
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="widget-box">
				<div class="widget-title"><span class="icon"><i class="icon-file"></i></span><h5>Recent Posts</h5><span title="" class="label label-info tip-left" data-original-title="54 total posts">54</span></div>
				<div class="widget-content nopadding">
					<ul class="recent-posts">
						<li>
							<div class="user-thumb">
								<img width="40" height="40" alt="User" src="./index_files/av2.jpg">
							</div>
							<div class="article-post">
								<span class="user-info"> By: neytiri on 2 Aug 2012, 09:27 AM, IP: 186.56.45.7 </span>
								<p>
									<a href="http://demo.bootstrap-hunter.com/unicorn/index.html#">Vivamus sed auctor nibh congue, ligula vitae tempus pharetra...</a>
								</p>
								<a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-primary btn-xs">Edit</a> <a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-success btn-xs">Publish</a> <a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-danger btn-xs">Delete</a>
							</div>
						</li>
						<li>
							<div class="user-thumb">
								<img width="40" height="40" alt="User" src="./index_files/av3.jpg">
							</div>
							<div class="article-post">
								<span class="user-info"> By: john on on 24 Jun 2012, 04:12 PM, IP: 192.168.24.3 </span>
								<p>
									<a href="http://demo.bootstrap-hunter.com/unicorn/index.html#">Vivamus sed auctor nibh congue, ligula vitae tempus pharetra...</a>
								</p>
								<a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-primary btn-xs">Edit</a> <a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-success btn-xs">Publish</a> <a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-danger btn-xs">Delete</a>
							</div>
						</li>
						<li>
							<div class="user-thumb">
								<img width="40" height="40" alt="User" src="./index_files/av1.jpg">
							</div>
							<div class="article-post">
								<span class="user-info"> By: michelle on 22 Jun 2012, 02:44 PM, IP: 172.10.56.3 </span>
								<p>
									<a href="http://demo.bootstrap-hunter.com/unicorn/index.html#">Vivamus sed auctor nibh congue, ligula vitae tempus pharetra...</a>
								</p>
								<a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-primary btn-xs">Edit</a> <a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-success btn-xs">Publish</a> <a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-danger btn-xs">Delete</a>
							</div>
						</li>
						<li class="viewall">
							<a title="" class="tip-top" href="http://demo.bootstrap-hunter.com/unicorn/index.html#" data-original-title="View all posts"> + View all + </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="widget-box">
				<div class="widget-title"><span class="icon"><i class="icon-comment"></i></span><h5>Recent Comments</h5><span title="" class="label label-info tip-left" data-original-title="88 total comments">88</span></div>
				<div class="widget-content nopadding">
					<ul class="recent-comments">
						<li>
							<div class="user-thumb">
								<img width="40" height="40" alt="User" src="./index_files/av1.jpg">
							</div>
							<div class="comments">
								<span class="user-info"> User: michelle on IP: 172.10.56.3 </span>
								<p>
									<a href="http://demo.bootstrap-hunter.com/unicorn/index.html#">Vivamus sed auctor nibh congue, ligula vitae tempus pharetra...</a>
								</p>
								<a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-primary btn-xs">Edit</a> <a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-success btn-xs">Approve</a> <a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-warning btn-xs">Mark as spam</a> <a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-danger btn-xs">Delete</a>
							</div>
						</li>
						<li>
							<div class="user-thumb">
								<img width="40" height="40" alt="User" src="./index_files/av3.jpg">
							</div>
							<div class="comments">
								<span class="user-info"> User: john on IP: 192.168.24.3 </span>
								<p>
									<a href="http://demo.bootstrap-hunter.com/unicorn/index.html#">Vivamus sed auctor nibh congue, ligula vitae tempus pharetra...</a>
								</p>
								<a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-primary btn-xs">Edit</a> <a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-success btn-xs">Approve</a> <a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-warning btn-xs">Mark as spam</a> <a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-danger btn-xs">Delete</a>
							</div>
						</li>
						<li>
							<div class="user-thumb">
								<img width="40" height="40" alt="User" src="./index_files/av2.jpg">
							</div>
							<div class="comments">
								<span class="user-info"> User: neytiri on IP: 186.56.45.7 </span>
								<p>
									<a href="http://demo.bootstrap-hunter.com/unicorn/index.html#">Vivamus sed auctor nibh congue, ligula vitae tempus pharetra...</a>
								</p>
								<a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-primary btn-xs">Edit</a> <a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-success btn-xs">Approve</a> <a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-warning btn-xs">Mark as spam</a> <a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" class="btn btn-danger btn-xs">Delete</a>
							</div>
						</li>
						<li class="viewall">
							<a title="" class="tip-top" href="http://demo.bootstrap-hunter.com/unicorn/index.html#" data-original-title="View all comments"> + View all + </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box widget-calendar">
				<div class="widget-title"><span class="icon"><i class="icon-calendar"></i></span><h5>Calendar</h5></div>
				<div class="widget-content nopadding">
					<div class="calendar fc fc-ltr"><table class="fc-header" style="width:100%"><tbody><tr><td class="fc-header-left"><span class="fc-button fc-button-prev fc-state-default fc-corner-left" unselectable="on"><span class="fc-text-arrow">‹</span></span><span class="fc-button fc-button-next fc-state-default fc-corner-right" unselectable="on"><span class="fc-text-arrow">›</span></span></td><td class="fc-header-center"><span class="fc-header-title"><h2>September 2013</h2></span></td><td class="fc-header-right"><span class="fc-button fc-button-month fc-state-default fc-corner-left fc-state-active" unselectable="on">month</span><span class="fc-button fc-button-basicWeek fc-state-default" unselectable="on">week</span><span class="fc-button fc-button-basicDay fc-state-default fc-corner-right" unselectable="on">day</span></td></tr></tbody></table><div class="fc-content" style="position: relative;"><div class="fc-view fc-view-month fc-grid" style="position:relative" unselectable="on"><div class="fc-event-container" style="position:absolute;z-index:8;top:0;left:0"><div class="fc-event fc-event-hori fc-event-draggable fc-event-start fc-event-end" style="position: absolute; left: 3px; width: 162px; top: 44px;"><div class="fc-event-inner"><span class="fc-event-title">All day event</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div><div class="fc-event fc-event-hori fc-event-draggable fc-event-start" style="position: absolute; left: 671px; width: 499px; top: 44px;"><div class="fc-event-inner"><span class="fc-event-title">Long event</span></div></div><div class="fc-event fc-event-hori fc-event-draggable fc-event-end" style="position: absolute; left: 1px; width: 164px; top: 185px;"><div class="fc-event-inner"><span class="fc-event-title">Long event</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div><div class="fc-event fc-event-hori fc-event-draggable fc-event-start fc-event-end" style="position: absolute; left: 170px; width: 329px; top: 44px;"><div class="fc-event-inner"><span class="fc-event-time">4p</span><span class="fc-event-title">Repeating event</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div><div class="fc-event fc-event-hori fc-event-draggable fc-event-start fc-event-end" style="position: absolute; left: 170px; width: 329px; top: 185px;"><div class="fc-event-inner"><span class="fc-event-time">4p</span><span class="fc-event-title">Repeating event</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div><div class="fc-event fc-event-hori fc-event-draggable fc-event-start" style="position: absolute; left: 1005px; width: 165px; top: 185px;"><div class="fc-event-inner"><span class="fc-event-time">12p</span><span class="fc-event-title">Lunch</span></div></div><div class="fc-event fc-event-hori fc-event-draggable fc-event-end" style="position: absolute; left: 1px; width: 164px; top: 325px;"><div class="fc-event-inner"><span class="fc-event-title">Lunch</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div><div class="fc-event fc-event-hori fc-event-draggable fc-event-start fc-event-end" style="position: absolute; left: 504px; width: 329px; top: 325px;"><div class="fc-event-inner"><span class="fc-event-time">12a</span><span class="fc-event-title">Birthday PARTY</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div><a href="http://www.google.com/" class="fc-event fc-event-hori fc-event-draggable fc-event-start" style="position: absolute; left: 838px; width: 332px; top: 465px;"><div class="fc-event-inner"><span class="fc-event-title">Click for Google</span></div></a><a href="http://www.google.com/" class="fc-event fc-event-hori fc-event-draggable fc-event-end" style="position: absolute; left: 1px; width: 164px; top: 605px;"><div class="fc-event-inner"><span class="fc-event-title">Click for Google</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></a></div><table class="fc-border-separate" style="width:100%" cellspacing="0"><thead><tr class="fc-first fc-last"><th class="fc-day-header fc-sun fc-widget-header fc-first" style="width: 167px;">Sun</th><th class="fc-day-header fc-mon fc-widget-header" style="width: 167px;">Mon</th><th class="fc-day-header fc-tue fc-widget-header" style="width: 167px;">Tue</th><th class="fc-day-header fc-wed fc-widget-header" style="width: 167px;">Wed</th><th class="fc-day-header fc-thu fc-widget-header" style="width: 167px;">Thu</th><th class="fc-day-header fc-fri fc-widget-header" style="width: 167px;">Fri</th><th class="fc-day-header fc-sat fc-widget-header fc-last">Sat</th></tr></thead><tbody><tr class="fc-week fc-first"><td class="fc-day fc-sun fc-widget-content fc-past fc-first" data-date="2013-09-01"><div style="min-height: 140px;"><div class="fc-day-number">1</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-mon fc-widget-content fc-past" data-date="2013-09-02"><div><div class="fc-day-number">2</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-tue fc-widget-content fc-past" data-date="2013-09-03"><div><div class="fc-day-number">3</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-wed fc-widget-content fc-past" data-date="2013-09-04"><div><div class="fc-day-number">4</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-thu fc-widget-content fc-past" data-date="2013-09-05"><div><div class="fc-day-number">5</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-fri fc-widget-content fc-past" data-date="2013-09-06"><div><div class="fc-day-number">6</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-sat fc-widget-content fc-past fc-last" data-date="2013-09-07"><div><div class="fc-day-number">7</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td></tr><tr class="fc-week"><td class="fc-day fc-sun fc-widget-content fc-past fc-first" data-date="2013-09-08"><div style="min-height: 139px;"><div class="fc-day-number">8</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-mon fc-widget-content fc-today fc-state-highlight" data-date="2013-09-09"><div><div class="fc-day-number">9</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-tue fc-widget-content fc-future" data-date="2013-09-10"><div><div class="fc-day-number">10</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-wed fc-widget-content fc-future" data-date="2013-09-11"><div><div class="fc-day-number">11</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-thu fc-widget-content fc-future" data-date="2013-09-12"><div><div class="fc-day-number">12</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-fri fc-widget-content fc-future" data-date="2013-09-13"><div><div class="fc-day-number">13</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-sat fc-widget-content fc-future fc-last" data-date="2013-09-14"><div><div class="fc-day-number">14</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td></tr><tr class="fc-week"><td class="fc-day fc-sun fc-widget-content fc-future fc-first" data-date="2013-09-15"><div style="min-height: 139px;"><div class="fc-day-number">15</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-mon fc-widget-content fc-future" data-date="2013-09-16"><div><div class="fc-day-number">16</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-tue fc-widget-content fc-future" data-date="2013-09-17"><div><div class="fc-day-number">17</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-wed fc-widget-content fc-future" data-date="2013-09-18"><div><div class="fc-day-number">18</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-thu fc-widget-content fc-future" data-date="2013-09-19"><div><div class="fc-day-number">19</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-fri fc-widget-content fc-future" data-date="2013-09-20"><div><div class="fc-day-number">20</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-sat fc-widget-content fc-future fc-last" data-date="2013-09-21"><div><div class="fc-day-number">21</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td></tr><tr class="fc-week"><td class="fc-day fc-sun fc-widget-content fc-future fc-first" data-date="2013-09-22"><div style="min-height: 139px;"><div class="fc-day-number">22</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-mon fc-widget-content fc-future" data-date="2013-09-23"><div><div class="fc-day-number">23</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-tue fc-widget-content fc-future" data-date="2013-09-24"><div><div class="fc-day-number">24</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-wed fc-widget-content fc-future" data-date="2013-09-25"><div><div class="fc-day-number">25</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-thu fc-widget-content fc-future" data-date="2013-09-26"><div><div class="fc-day-number">26</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-fri fc-widget-content fc-future" data-date="2013-09-27"><div><div class="fc-day-number">27</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-sat fc-widget-content fc-future fc-last" data-date="2013-09-28"><div><div class="fc-day-number">28</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td></tr><tr class="fc-week"><td class="fc-day fc-sun fc-widget-content fc-future fc-first" data-date="2013-09-29"><div style="min-height: 139px;"><div class="fc-day-number">29</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-mon fc-widget-content fc-future" data-date="2013-09-30"><div><div class="fc-day-number">30</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-tue fc-widget-content fc-other-month fc-future" data-date="2013-10-01"><div><div class="fc-day-number">1</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-wed fc-widget-content fc-other-month fc-future" data-date="2013-10-02"><div><div class="fc-day-number">2</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-thu fc-widget-content fc-other-month fc-future" data-date="2013-10-03"><div><div class="fc-day-number">3</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-fri fc-widget-content fc-other-month fc-future" data-date="2013-10-04"><div><div class="fc-day-number">4</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td><td class="fc-day fc-sat fc-widget-content fc-other-month fc-future fc-last" data-date="2013-10-05"><div><div class="fc-day-number">5</div><div class="fc-day-content"><div style="position: relative; height: 21px;">&nbsp;</div></div></div></td></tr><tr class="fc-week fc-last"><td class="fc-day fc-sun fc-widget-content fc-other-month fc-future fc-first" data-date="2013-10-06"><div style="min-height: 143px;"><div class="fc-day-number">6</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-mon fc-widget-content fc-other-month fc-future" data-date="2013-10-07"><div><div class="fc-day-number">7</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-tue fc-widget-content fc-other-month fc-future" data-date="2013-10-08"><div><div class="fc-day-number">8</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-wed fc-widget-content fc-other-month fc-future" data-date="2013-10-09"><div><div class="fc-day-number">9</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-thu fc-widget-content fc-other-month fc-future" data-date="2013-10-10"><div><div class="fc-day-number">10</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-fri fc-widget-content fc-other-month fc-future" data-date="2013-10-11"><div><div class="fc-day-number">11</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-sat fc-widget-content fc-other-month fc-future fc-last" data-date="2013-10-12"><div><div class="fc-day-number">12</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td></tr></tbody></table></div></div></div>
				</div>
			</div>
		</div>
	</div>
</div>
