<style type="text/css" media="screen">
    #editor { 
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 200px;
    }
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">

			<ul class="quick-actions-horizontal">
				<li>
					<div class="btn-add-predefined">
						<a href="#">
							<span>Add Predefined API</span>
						</a>
					</div>
				</li>
				<li>
					<div class="btn-add-custom">
						<a href="#">
							<span>Add Custom API</span>
						</a>
					</div>
				</li>
				<li>
					<div class="btn-remove">
						<a href="#">
							<span>Remove API</span>
						</a>
					</div>
				</li>
			</ul>

			<div class="widget-box addapi">
				<div class="widget-title">
					<span class="icon">
						<i class="icon-align-justify"></i>									
					</span>
					<h5>Add Custom API</h5>
					<div class="buttons addapi-remove"><a href="#" class="btn"><i class="icon-remove"></i></a></div>
				</div>
				<div class="widget-content nopadding">
					<form class="form-horizontal" method="post" action="/api/api" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <div class="form-group">
                            <label class="control-label">RAML</label>
                            <div class="controls">
								<div id="editor"></div>
							</div>
                        </div>
                        <div class="form-actions">
                        	<div class="invalidraml" style="display:none;color:red;"><p>Please enter a valid RAML</p></div>
                        	<div class="ramlexists" style="display:none;color:red;"><p>RAML already exists</p></div>
                        	<div class="validraml" style="display:none;color:green;"><p>Added RAML sucessfully!</p></div>
                            <input readonly value="Submit" class="btn btn-primary submit">
                        </div>
                    </form>
				</div>
			</div>

			<div class="widget-box">
				<div class="widget-title">
					<span class="icon with-checkbox">
						<div class="icheckbox_flat-blue" style="position: relative;"><input type="checkbox" id="title-checkbox" name="title-checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div>
					</span>
					<h5>Your APIs</h5>
				</div>
				<div class="widget-content nopadding">
					<table class="table table-bordered table-striped table-hover with-check">
						<thead>
							<tr>
								<th><i class="icon-resize-vertical"></i></th>
								<th>API Name</th>
								<th>RAML</th>
							</tr>
						</thead>
						<tbody class="apis">

						</tbody>
					</table>							
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var editor;
    $('.addapi').hide();
	$('.btn-add-custom').click(function(){
		$('.addapi').show();
		editor = ace.edit("editor");
	    editor.setTheme("ace/theme/monokai");
	    editor.getSession().setMode("ace/mode/yaml");
	});

	$('.addapi-remove').click(function(){
		$('.addapi').hide();
	});

    $('.submit').click(function(){
    	$('.invalidraml').hide();
    	$('.validraml').hide();
    	$('.ramlexists').hide();

    	var validate = true;

    	if(editor.getValue() == ''){
    		$('.invalidraml').show();
    		validate = false;
    	} 

    	if(validate){
	    	$.ajax({
	    	  url: "/api/api",
			  type: "POST",
			  dataType: "text",
			  contentType: "text/plain",
			  data: editor.getValue(),
			  success: function(){
			  	$('.validraml').show();
			  },
			  error: function (err){
			  	var data = JSON.parse(err.responseText)
			  	//alert(JSON.stringify(data.error.message));
			  	if(JSON.stringify(data.error.message).indexOf('API already exists') > -1 ){
			  		$('.ramlexists').show();
			  	} else {
			  		$('.invalidraml').show();
			  	}
			  },
			  
			});
    	}
  	});
</script>

