<div id="nav">
	<div id="header">
		<h1><a href="http://demo.bootstrap-hunter.com/unicorn/dashboard.html">Unicorn Admin</a></h1>	
		<a id="menu-trigger" href="http://demo.bootstrap-hunter.com/unicorn/index.html#"><i class="icon-align-justify"></i></a>	
	</div>

	<div id="search">
		<input type="text" placeholder="Search here..."><button type="submit" class="tip-right" title="" data-original-title="Search"><i class="icon-search"></i></button>
	</div>

	<div id="user-nav">
	    <ul class="btn-group">
	        <li class="btn"><a title="" href="http://demo.bootstrap-hunter.com/unicorn/index.html#"><i class="icon-user"></i> <span class="text">Profile</span></a></li>
	        <li class="btn dropdown" id="menu-messages"><a href="http://demo.bootstrap-hunter.com/unicorn/index.html#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon-envelope"></i> <span class="text">Messages</span> <span class="label label-danger">5</span> <b class="caret"></b></a>
	            <ul class="dropdown-menu">
	                <li><a class="sAdd" title="" href="http://demo.bootstrap-hunter.com/unicorn/index.html#">new message</a></li>
	                <li><a class="sInbox" title="" href="http://demo.bootstrap-hunter.com/unicorn/index.html#">inbox</a></li>
	                <li><a class="sOutbox" title="" href="http://demo.bootstrap-hunter.com/unicorn/index.html#">outbox</a></li>
	                <li><a class="sTrash" title="" href="http://demo.bootstrap-hunter.com/unicorn/index.html#">trash</a></li>
	            </ul>
	        </li>
	        <li class="btn"><a title="" href="http://demo.bootstrap-hunter.com/unicorn/index.html#"><i class="icon-cog"></i> <span class="text">Settings</span></a></li>
	        <li class="btn"><a title="" href="http://demo.bootstrap-hunter.com/unicorn/login.html"><i class="icon-share-alt"></i> <span class="text">Logout</span></a></li>
	    </ul>
	</div>
</div>