<div id="sidebar">
	<ul style="display: block;">
		<li class="active"><a href="./index_files/index.html"><i class="icon-home"></i> <span>Dashboard</span></a></li>
		<li class="submenu">
			<a href="http://demo.bootstrap-hunter.com/unicorn/index.html#"><i class="icon-th-list"></i> <span>Form elements</span> <i class="arrow icon-chevron-right"></i></a>
			<ul style="display: none;">
				<li><a href="http://demo.bootstrap-hunter.com/unicorn/form-common.html">Common elements</a></li>
				<li><a href="http://demo.bootstrap-hunter.com/unicorn/form-validation.html">Validation</a></li>
				<li><a href="http://demo.bootstrap-hunter.com/unicorn/form-wizard.html">Wizard</a></li>
			</ul>
		</li>
		<li><a href="http://demo.bootstrap-hunter.com/unicorn/buttons.html"><i class="icon-tint"></i> <span>Buttons &amp; icons</span></a></li>
		<li><a href="http://demo.bootstrap-hunter.com/unicorn/interface.html"><i class="icon-pencil"></i> <span>Interface elements</span></a></li>
		<li><a href="http://demo.bootstrap-hunter.com/unicorn/tables.html"><i class="icon-th"></i> <span>Tables</span></a></li>
		<li><a href="http://demo.bootstrap-hunter.com/unicorn/grid.html"><i class="icon-th-list"></i> <span>Grid Layout</span></a></li>
		<li class="submenu">
			<a href="http://demo.bootstrap-hunter.com/unicorn/index.html#"><i class="icon-file"></i> <span>Sample pages</span> <i class="arrow icon-chevron-right"></i></a>
			<ul style="">
				<li><a href="http://demo.bootstrap-hunter.com/unicorn/invoice.html">Invoice</a></li>
				<li><a href="http://demo.bootstrap-hunter.com/unicorn/chat.html">Support chat</a></li>
				<li><a href="http://demo.bootstrap-hunter.com/unicorn/calendar.html">Calendar</a></li>
				<li><a href="http://demo.bootstrap-hunter.com/unicorn/gallery.html">Gallery</a></li>
			</ul>
		</li>
		<li>
			<a href="http://demo.bootstrap-hunter.com/unicorn/charts.html"><i class="icon-signal"></i> <span>Charts &amp; graphs</span></a>
		</li>
		<li>
			<a href="http://demo.bootstrap-hunter.com/unicorn/widgets.html"><i class="icon-inbox"></i> <span>Widgets</span></a>
		</li>
	</ul>
</div>